.center {
  text-align: center;
}

.signupContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
button {
  display: block;
  padding: 13px;
  margin: 10px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

input {
  border: 1px solid #f77;
}

button {
  margin: 20px auto;
  border: solid 1px black;
  font-size: 16px;
  background-color: #f77;
}
