.map{
  width: 100%;
  height: 400px;
  position: relative;
  border: 0;
  margin-top: 7px;
}
.details{
  filter: blur(0px);
   color:#000;
   box-sizing: border-box;
   border-radius: 15px;
   z-index:2;
   margin-top: -200px;
}
.detailsBg{
  filter: blur(7px);
  z-index:1  ;
  width: 150px;
  height: 150px;
     margin-top: -200px;
  background:rgba(250,250,250,.7);
}
.details p{
  font-size: 14px;
  margin-left: 10px
}
.details img{
  width: 20px;
  height: 20px;
}
.container-map{
  display: grid;
  margin: 0 auto;
  max-width: 85%;
}
