.showMore {
  display: grid;
  grid-template-rows: 9rem 26rem;
  margin-top: 5px;
}
.hideAll {
  display: grid;
  grid-template-rows: 9rem;
  margin-top: 5px;
}
.cardDetails {
  display: flex;
  justify-content: space-between;
  background-color: #f77;
  border-radius: 10px;
  font-family: "ubuntu";
  font-size: 1.2rem;
}
.subContainer {
  padding: 1rem;
}

.subContainer.facebook {
  padding: 3rem;
}

.imgDim {
  margin-top: 1rem;
  width: 2rem;
  height: 2rem;
}
.imgDim1 {
  width: 2rem;
  height: 2rem;
}

button {
  padding: 1.2rem !important;
  background: transparent;
  border: none !important;
  margin: 0 !important;
}
.show {
  display: block;
}
.hide {
  display: none;
}
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
