.center {
  text-align: center;
}

.signupContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
button {
  display: block;
  padding: 13px;
  margin: 10px;
  border-radius: 10px;
}

input {
  border: 1px solid #f77;
}

button {
  margin: 30px auto;
  border: solid 1px black;
  font-size: 16px;
  background-color: #f77;
}
